@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ocultar botones de incremento/decremento en campos numéricos globalmente */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}