@tailwind base;
@tailwind components;
@tailwind utilities;

/* Para Chrome, Safari, Edge y Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield !important;
    appearance: textfield !important;
}